node_modules
vendor
.env
.env.*
.DS_Store
.idea
.vscode
*.log
*.tmp

.phpunit.result.cache
.phpunit.result.cache.*
artisan
public/css
public/js
storage/*.key
storage/*.cache
storage/*.tmp
storage/framework
storage/debugbar
storage/logs